$schlogoblue100: #00afc8; // [md headers, md links] (cursor, codelens)

$schlogoblue125: #00dafa; // [diff header]

$schlogoblue-90: #009db4; //
$schlogoblue-80: #008ca0; //
$schlogoblue-75: #008396;
$schlogoblue-70: #007a8c;
$schlogoblue-60: #006978; // (buttons)
$schlogoblue-50: #005764;
$schlogoblue-40: #004650;
$schlogoblue-25: #002b32;
$schlogoblue-20: #002328;
$schlogoblue-10: #001114;


$schlogoyellow100: #c2d155; //V4

$schlogoyellow120: #e8fa66; //V4 (lightbulb)

$schlogogreen100: #46b55a; //V4 [diff inserted] (diff inserted, find results, hints)

$schlogogreen110: #4dc763;
$schlogogreen120: #54d96c; //V4 (debug restart, git added)
$schlogogreen125: #57e270; //V4
$schlogogreen140: #62fd7e; // (suggest highlights)

// $schlogogreen-80: #
$schlogogreen-75: #348743; //V4
$schlogogreen-50: #235a2d; //V4

$schwed100: #fb6467; //V4 [diff deleted, keywords, operators] (errors, exception border, debug icons)

$schwed-80: #c85052;
$schwed-75: #bc4b4d;
$schwed-70: #af4648;
$schwed-65: #a34142;
$schwed-50: #7d3233;
$schwed-30: #4b1e1e;
$schwed-25: #3e1919;
$schwed-20: #321414;


$schworange100: #e89242;

$schworange110: #ffa048; // [regex lookbehind]

$schworange-90: #d0833b;
$schworange-85: #c57c38; // (breadcrumb classes)
$schworange-80: #b97434;
$schworange-75: #ae6d31;


$schwibrown100: #82491e;

$schwibrown150: #c36d2d;
$schwibrown190: #f78a39;
$schwibrown195: #fd8e3a;


$schwigray100: #917c5d; // [comments]

$schwigray110: #9f8866; // [comment punctuation] (git untracked)
$schwigray120: #ae946f;
$schwigray125: #b59b74;
$schwigray130: #bca178;
$schwigray150: #d9ba8b; //
$schwigray175: #fdd9a2; // [strings, markup bold/italic] (input)


$schwellow100: #fae48b; // [constants, regex text]

$schwellow-80: #c8b66f; // [units]
$schwellow-75: #bbab68; // (breadbrumb vars)
$schwellow-70: #af9f61;


$schwellower100: #fafd7c; // [parameters, quotes] (warnings)

$schwellower-80: #c8ca63;
$schwellower-50: #7d7e3e;


$schwigreen100: #526e2d; //V4

$schwigreen140: #729a3f;
$schwigreen150: #7ba543; //
$schwigreen180: #93c651;
$schwigreen190: #9bd155;
$schwigreen200: #a4dc5a; //
$schwigreen230: #bcfd67;


$schwigreener100: #2f9331;

$schwigreener110: #33a135;
$schwigreener120: #38b03a; //
$schwigreener140: #41cd44; // [regex lookahead]
$schwigreener170: #4ff953;

$schwigreener-85: #277c29;
$schwigreener-50: #174918;
$schwigreener-25: #0b240c;


$schwigreenest100: #8bcf21; // [functions, methods] (debug start/restart)

$schwigreenest120: #a6f83a; //V4

$schwigreenest-80: #6fa51a; //V4 (gutter/overview green)


$schwiblue100: #b7e4f9; // [source] (active title text, menu active text, icons)

$schwiblue-90: #a4cde0; //V4 (active activity, remote badge text)
$schwiblue-85: #9bc1d3; //V4 (default text, title text, active line #)
$schwiblue-80: #92b6c7; //V4 (active breadcrumb text, dropdown text, hovers text, menu text, sideheader text)
$schwiblue-70: #808fae; //V4 (breadcrumb text, inactive activity)
$schwiblue-60: #6d8895; //V4 (terminal text)
$schwiblue-55: #647d88; //V4 (line #)
$schwiblue-50: #5b727c; //V4 (panel border, nofolder status text)
$schwiblue-45: #526670; //V4 (active indent, tree indent, resize border, hover border, empty border, image border)
$schwiblue-40: #495b63; // (default focus)
$schwiblue-30: #36444a; //V4 (indent, activity border, title border, hovered tab)
$schwiblue-27: #313d43; // (sidebar border)
$schwiblue-25: #2d393e; //V4 (debug)
$schwiblue-23: #2a3439; //V4 (activity active, line highlight, menu active, status border)
$schwiblue-20: #242d31; //V4 (active tab, editor, hover status)
$schwiblue-17: #1f262a; //V4 (gutter, menu, widgets)
$schwiblue-15: #1b2225; //V4 (panel, activity, headers, inactive tabs, inactive title, edgroup border)
$schwiblue-13: #171d20; //V4 (dropdown, empty, sidebar, hovers, tab border, overview border)
$schwiblue-10: #121618; //V4 (input, title, status, menu border, widget border, dropdown border, notify header, sidebar header)
$schwiblue-05: #090b0c; //V4 (terminal, badge text, input)


$schwibluer100: #69c8ec; //V4 (info, gutter/overview blue)

$schwibluer105: #6ed2f7; //V4 (debug icons)

$schwibluer-80: #54a0bc; //V4 [git modified] (git modified)
$schwibluer-50: #346476; //V4
$schwibluer-25: #1a323b; //V4
$schwibluer-20: #15282f; //V4 


$schwibleh100: #a6eee6; // [storage/type modifiers]

$schwibleh105: #aef9f1; //

$schwibleh-80: #84beb8; //
$schwibleh-75: #7cb2ac; //
$schwibleh-70: #74a6a1; // [regex setrange]
$schwibleh-60: #638e8a; // [regex set]
$schwibleh-50: #537773; //
$schwibleh-40: #425f5c; //
$schwibleh-30: #314745; //
$schwibleh-25: #293b39; //
$schwibleh-20: #212f2e; //
$schwibleh-10: #101717; //


$schwindigo100: #24325f; //V4 

$schwindigo110: #273768; //V4
$schwindigo135: #304380;
$schwindigo150: #364b8e; //V4
$schwindigo200: #4864be; //V4
$schwindigo270: #6187ff; //V4

$schwindigo-90: #202d55; //V4
$schwindigo-80: #1c284c; //V4
$schwindigo-75: #1b2547; //V4
$schwindigo-70: #192342; //V4
$schwindigo-60: #151e39; //V4
$schwindigo-50: #12192f; //V4
$schwindigo-45: #10162a; //V4
$schwindigo-40: #0e1426; //V4
$schwindigo-30: #0a0f1c; //V4
$schwindigo-20: #070a13; //V4


$schwink100: #e762d7; // [storage/access modifiers, at-rule punctuation]

$schwink110: #fe6bec;

$schwink-95: #db5dcc; // 
$schwink-90: #cf58c1; // [diff files, md separator]
$schwink-80: #b84eac; // [string/regex escapes](progress bar)
$schwink-55: #7f3576; //
$schwink-50: #73316b; // (remote badge)
$schwink-40: #5c2756; // (remote button)
$schwink-30: #451d40; //V4
