$schlogoblue100: #00afc8;

$schlogoblue125: #00dafa;

$schlogoblue-75: #008396;
$schlogoblue-60: #006978;
$schlogoblue-50: #005764;
$schlogoblue-40: #004650;
$schlogoblue-25: #002b32;
$schlogoblue-20: #002328;
$schlogoblue-10: #001114;


$schlogoyellow100: #c2d155; //V4

$schlogoyellow120: #e8fa66; //V4 (lightbulb)

$schlogogreen100: #46b55a; //V4 (diff inserted, find results, hints)

$schlogogreen110: #4dc763;
$schlogogreen120: #54d96c; //V4 (debug restart)
$schlogogreen125: #57e270; //V4
$schlogogreen140: #62fd7e; //V4

// $schlogogreen-80: #
$schlogogreen-75: #348743; //V4
$schlogogreen-50: #235a2d; //V4

$schwed100: #fb6467; //V4 (errors, exception border, debug icons)(V3 Keywords)

$schwed-80: #c85052;
$schwed-75: #bc4b4d;
$schwed-50: #7d3233;
$schwed-25: #3e1919;
$schwed-20: #321414;


$schworange100: #e89242;

$schworange110: #ffa048;

$schworange-75: #ae6d31;


$schwibrown100: #82491e;

$schwibrown150: #c36d2d;
$schwibrown190: #f78a39;
$schwibrown195: #fd8e3a;


$schwigray100: #917c5d;

$schwigray150: #d9ba8b;
$schwigray175: #fdd9a2;


$schwellow100: #fae48b;


$schwellower100: #fafd7c; //V4 (warnings)


$schwigreen100: #526e2d; //V4


$schwigreener100: #2f9331;

$schwigreener-50: #174918;
$schwigreener-25: #0b240c;


$schwigreenest100: #8bcf21; //V4 (debug start/restart)

$schwigreenest120: #a6f83a; //V4

$schwigreenest-80: #6fa51a; //V4 (gutter/overview green)


$schwiblue100: #b7e4f9; //V4 (active title text, menu active text)

$schwiblue-90: #a4cde0; //V4 (active activity)
$schwiblue-85: #9bc1d3; //V4 (title text, active line #)
$schwiblue-80: #92b6c7; //V4 (active breadcrumb text, dropdown text, hovers text, menu text)
$schwiblue-70: #808fae; //V4 (breadcrumb text, inactive activity)
$schwiblue-60: #6d8895; //V4
$schwiblue-55: #647d88; //V4 (line #)
$schwiblue-50: #5b727c; //V4 (panel border)
$schwiblue-45: #526670; //V4 (active indent, resize border, hover border, empty border)
$schwiblue-40: #495b63; //V4
$schwiblue-30: #36444a; //V4 (indent, activity border, title border, hovered tab)
$schwiblue-27: #313d43;
$schwiblue-25: #2d393e; //V4 (debug, dropdown border)
$schwiblue-23: #2a3439; //V4 (activity active, active tab, line highlight, menu active)
$schwiblue-20: #242d31; //V4 (editor, hover status)
$schwiblue-17: #1f262a; //V4 (gutter, menu, widgets)
$schwiblue-15: #1b2225; //V4 (panel, activity, headers, inactive tabs, inactive title, edgroup border)
$schwiblue-13: #171d20; //V4 (dropdown, empty, sidebar, hovers, tab border, overview border)
$schwiblue-10: #121618; //V4 (title, status, menu border, widget border)
$schwiblue-05: #090b0c; //V4 (terminal, badge text)


$schwibluer100: #69c8ec; //V4 (gutter/overview blue)

$schwibluer105: #6ed2f7; //V4 (debug icons)

$schwibluer-80: #54a0bc; //V4 (git modified)
$schwibluer-50: #346476; //V4
$schwibluer-25: #1a323b; //V4
$schwibluer-20: #15282f; //V4 


$schwibleh100: #a6eee6; //V4 (widget shadow 25%)

$schwibleh105: #aef9f1; //V4 (drop overlay 40%)(search highlights)

$schwibleh-75: #7cb2ac; //V4
$schwibleh-60: #638e8a; //V4 (disabled breakpoints)
$schwibleh-50: #537773; //V4 (*breadcrumb text*)
$schwibleh-40: #425f5c; //V4 (sidebar border)(tabs border)
$schwibleh-30: #314745; //V4
$schwibleh-25: #293b39; //V4
$schwibleh-20: #212f2e; //V4 (dropdown border)
$schwibleh-10: #101717; //V4


$schwindigo100: #24325f; //V4 

$schwindigo110: #273768; //V4
$schwindigo150: #364b8e; //V4
$schwindigo200: #4864be; //V4
$schwindigo270: #6187ff; //V4

$schwindigo-90: #202d55; //V4
$schwindigo-80: #1c284c; //V4
$schwindigo-75: #1b2547; //V4
$schwindigo-70: #192342; //V4
$schwindigo-60: #151e39; //V4
$schwindigo-50: #12192f; //V4
$schwindigo-45: #10162a; //V4
$schwindigo-40: #0e1426; //V4
$schwindigo-30: #0a0f1c; //V4
$schwindigo-20: #070a13; //V4


$schwink100: #e762d7; //V4

$schwink-80: #b84eac; //V4
$schwink-50: #73316b; //V4
$schwink-30: #451d40; //V4

// New stuff.
