@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

* {
  background: white;
}

.someClass {
  font-family: serif;
}

#someID {
  background: purple;
}

h1, h2, h3 {
  font-weight: bold;
}

main {
  margin-top: 20px;
  font-size: 1.5em;
}

input::placeholder {
  color: gray !important;
}

input:hover {
  color: blue;
  cursor: pointer;
}

button[class~="special"] {
  color: red;
}

.parent > .child {
  background: blue;
}
