@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

* {
  background: white;
}

.someClass {
  font-family: serif;
}

#someID {
  background: purple;
}

h1, h2, h3 {
  font-weight: bold;
}

body {
  margin-top: 20px;
  font-size: 1.5em;
}

input::placeholder {
  color: gray !important;
}

input:hover {
  color: blue;
  cursor: pointer;
}

input[value='search' i] {
  color: #ff00ff;
}

button[class~="special" i] {
  color: red;
}

div:not(.stupidDiv) {
  height: 2rem;
}

.ancestor .descendent {
  background: blue;
}

.parent > .child {
  background: blue;
}

.sibling1 ~ .siblingN {
  background: blue;
}

.sibling2 + .sibling3 {
  background: #0000ff;
}
