@use './some/other/file.scss' as other;

@debug 1px == 1px;

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

@mixin button-base() {
  @include typography(button);
  @include ripple-surface;
  @include ripple-radius-bounded;

  display: inline-flex;
  position: relative;
  height: $button-height;
  border: none;
  vertical-align: middle;

  &:hover { cursor: pointer; }

  &:disabled {
    color: $mdc-button-disabled-ink-color;
    cursor: default;
    pointer-events: none;
  }
}

%action-theme {
  color: red;
  background-color: yellow;
}

.action-buttons {
  @extend %action-theme;
}

* {
  background: white;
}

.someClass {
  font-family: serif;
}

#someID {
  background: purple;
}

h1, h2, h3 {
  font-weight: bold;
}

main {
  margin-top: 20px;
  font-size: 1.5em;
}

input::placeholder {
  color: gray !important;
}

input:hover {
  color: blue;
  cursor: pointer;
}

button[class~="special" i] {
  color: red;
}

.parent {
  & .child {
    background: blue;
  }
}

@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  [dir=rtl] & {
    #{$property}: $rtl-value;
  }
}

.sidebar {
  @include rtl(float, left, right);
}

div:not(.stupidDiv) {
  height: 2rem;
}

.ancestor .descendent {
  background: blue;
}

.parent > .child {
  background: blue;
}

.sibling1 ~ .siblingN {
  background: blue;
}

.sibling2 + .sibling3 {
  background: #0000ff;
}
