@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

* {
  background: white;
}

.someClass {
  font-family: serif;
}

#someID {
  background: purple;
}

h1, h2, h3 {
  font-weight: bold;
}

main {
  margin-top: 20px;
}

input::placeholder {
  color: gray;
}

.existingClass, %placeholderClass {
  color: orange;
}

.parent-class {
  &.child-class {
    background: blue;
    [dir=rtl] & {
      margin-left: 0
    }
  }
  &:hover {
    color: yellow;
  }
}